body {
    background-color: #ffffff;
    width: 97.5%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    max-width: 900px;

}

p {

       float: left;
       left: inherit;
       width: 60%;
       font-size: 16pt;
       padding-top: 5px;
       padding-left: 25px;
}

h3 {
	margin-left: 2.5%;
	font-weight: normal;
	text-decoration: none;
	text-align: left;
	font-size: 16pt;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.bkgd_container {

    background-color: #ffffff;
    position: absolute;
    top: 60%;
    left: 7%;
    height: 200px;
    width: 100%;
    z-index: 1;
    padding-top: 0px;
    margin-top: 0px;
    border: 0px;
    max-width: inherit;
}

.bio_container {

    background-color: #ffffff;
    position: absolute;
    top: 20%;
    left: 7%;
    height: 200px;
    width: 100%;
    z-index: 1;
    padding-top: 0px;
    margin-top: 0px;
    border: 0px;
    max-width: inherit;
}

.bio_pic {

    float: left;
    height: 158px;
    width: 158px;

}

.bio_text {

       float: left;
       left: inherit;
       width: 60%;
       font-size: 16pt;
       padding-top: 5px;
       padding-left: 25px;

}

.header_container {

    background-color: #ffffff;
    z-index: 2;
    max-width: inherit;

}

.header {
	position: fixed;
	top: 0%;
	left: 7%;
	height: 85px;
	width: 100%;
	text-align: left;
	color: #444444;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 56pt;
	padding-top: 1%;
	padding-bottom: 0%;
	z-index: 3;
	background-color: inherit;

}

.subHeaderLine {
        position: fixed;
	left: 7%;
	top: 92px;
	height: 7px;
	background-color: #c59353;
	width: 86%;
	z-index: 3;
	padding-top: 0px;
	margin-bottom: 0px;
	border: 0px;
	max-width: 750px;

}
