body {
    background-color: #ffffff;
    width: 97.5%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    max-width: 900px;

}

.p_left {

       float: left;
       left: inherit;
       width: 60%;
       font-size: 16pt;
       padding-top: 5px;
       padding-left: 25px;
       margin-top: 0px;

}

.p_right {

       float: left;
       left: inherit;
       width: 60%;
       font-size: 16pt;
       padding-top: 5px;
       padding-right: 25px;
       margin-top: 0px;

}

.contact_bar {
    	position: fixed;
	top: 90px;
	left: 7%;
	height: 25px;
	width: 100%;
	min-width: 310px;
	text-align: left;
	color: #444444;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 16pt;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-left: 6px;
	z-index: 3;
	background-color: inherit;
}

.bkgd_container {

    background-color: #ffffff;
    position: absolute;
    top: 350px;
    left: 7%;
    height: 200px;
    width: 86%;
    z-index: 1;
    padding-top: 0px;
    margin-top: 0px;
    border: 0px;
    max-width: inherit;
}

.bio_container {

    background-color: #ffffff;
    position: absolute;
    top: 180px;
    left: 7%;
    height: 200px;
    width: 86%;
    z-index: 1;
    padding-top: 0px;
    margin-top: 0px;
    border: 0px;
    max-width: inherit;
}

.img_container {

    background-color: #ffffff;
    position: absolute;
    top: 400px;
    left: 7%;
    height: 200px;
    width: 86%;
    z-index: 1;
    padding-top: 0px;
    margin-top: 0px;
    border: 0px;
    max-width: inherit;
}

.pic {

    float: left;
    height: 158px;
    width: 158px;

}

.bottom_pic {
    float: left;
    margin-right: 4%;
    width: 20%;
    height: 158;
}


.header_container {

    background-color: #ffffff;
    z-index: 2;
    max-width: inherit;

}



a:visited {
    color: #444444;
    text-decoration: none;
}

a:active {
    color: #444444;
    text-decoration: none;
}

a:link {
    color: #444444;
    text-decoration: none;
}

a:hover {
    color:  #c59353;
    text-decoration: none;
}

.header {
	position: fixed;
	top: 0%;
	left: 0%;
	height: 85px;
	width: 100%;
	text-align: left;
	color: #444444;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 56pt;
	padding-top: 1%;
	padding-bottom: 0%;
	padding-left: 7%;
	margin-left: 0;
	z-index: 3;
	background-color: inherit;

}

.subheader_line {
        position: fixed;
	left: 7%;
	top: 120px;
	height: 7px;
	background-color: #c59353;
	width: 86%;
	z-index: 3;
	padding-top: 0px;
	margin-bottom: 0px;
	border: 0px;
	max-width: 750px;
}
